/* Le premier élement et le dernier element ne doivent pas avoir de style, ou un style neutre */

.listeComics > div:nth-child(n){
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 0px #656565;
    border-radius: 2px;
    margin-top : 50px;
    transition : all 1s;
    width: 90vw;
    margin-bottom: 50px;
}
.listeComics > div:nth-child(n):hover{
    transform : scale(1.02);
    transition : all 1s;
    overflow-x: hidden;
}
.listeComics > div:nth-child(n) a{
    width : 20%;
}
.listeComics > div:first-child a{
    width : 20%;
}
.pages
{
    margin-top : 1%;
    margin-bottom: 1%;
}
.pages p{
    margin-right : 10px;
    margin-left : 10px;
}

