@font-face { 	font-family: "Nunito Light"; font-display: swap;    src: url('../font/Nunito/Nunito-Light.ttf'); }
@font-face { 	font-family: "Nunito Medium"; font-display: swap;	src: url('../font/Nunito/Nunito-Regular.ttf'); }
@font-face { 	font-family: "Nunito Bold";   font-display: swap;	src: url('../font/Nunito/Nunito-Bold.ttf'); }

main{
    display: flex;
    flex-direction: column;
    min-height : 82.7vh;
    margin-top : 0;
    transition : all 1s;
    background-color: #ececec;
    align-items: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width : 100%;
    background-color : #222222;
    z-index : 999;
    height : 10%;
    top : 0;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    margin : 0;
}
div{
    /* align-self : center; */
    display: flex;
}
img{
    max-width : 10vw;
    margin-top : 5px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom: 5px;
}
a{
    
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-style: unset;
    text-decoration: none;
    color : #363636b0;
    border-radius: 10px;
    font-family : "Nunito Light";
    text-align : center;
    align-self : center;
    transition : all 0.5s;
}
a:hover{
    transition : all 0.5s;
    color : #000000e1;
}
p{
    font-family: 'Nunito Light';
}
.template:hover{
    color : #ffffffd7;
}
.template{
    color : #949494b0;
}
h2{
    margin : 10px;
    text-align : center;
}
h3{
    font-family: "Nunito Light";
}
h4{
    font-family: "Nunito light";
}
/* -------------------attention .h1 et h1 different */
.h1{
    background-color: rgba(255,255,255,0);
    font-size: 1.5em;
    transition : all 0.5s;
}
.h1:hover{
    font-size : 1.5em;
}
.h1:hover span:nth-child(2n){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1:hover span:nth-child(2n+1){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-child(2n){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-child(2n+1){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-of-type(4n+1){
    color : rgb(254, 242, 0);
}
.h1 span:nth-of-type(4n+2){
    color : rgb(237, 27, 36);
}
.h1 span:nth-of-type(4n+3){
    color : rgb(48,48,146);
}
.h1 span:nth-of-type(4n+4){
    color : rgb(0, 175, 240);
}
.char4{
    margin : 5px;
}


footer{
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    background-color : #222222;
    color : white;
    font-family: "Nunito Light";
    position : absolute;
    width : 100%;

}
footer div{
    display: flex;
    flex-direction : row;
    align-items: center;
    padding-left : 20px;
    padding-right : 20px;
}
footer div .h1:hover{
    font-size : 1em;
}
footer div .h1 {
    font-size : 1em;
}
footer ul li{
    list-style: none;
}

footer .h1{
    margin : 0!important;
}

#error{
    background-color: red;
    border-color : #fd4949;

}
#done{
    background-color : green;
    border-color: rgb(37, 163, 37);
}
.message{
    width : 80%;
    height : 10vh;
    text-align: center;
    justify-content: center;
    font-family: "Nunito Medium";
    color : white;
    border-color : rgba(255,255,255,0);
    font-weight: 600;
    margin : 10px;
    margin-bottom: 40px;
    border-radius : 10px;
    border-width: 5px;
    border-style: solid;
}

.messageHidden{
    position: relative;
    z-index : 0;
    
}
.messageHidden  .message{
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}
