p{
    text-align : center;
}
fieldset{
    text-align: -webkit-center;
    display : flex;
    font-family: "Nunito Medium";
}
input{
    margin : 20px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-style: unset;
    text-decoration: none;
    color : #222222;
    /* border-radius: 10px; */
    font-family : "Nunito Bold";
    text-align : center;
    align-self : center;
    transition : all 0.5s;
    border-color : rgba(0, 0, 0, 0);
    background-color : #a0a0a073;
    width : 100%;
}
input:hover{
    background-color: #afafaf;
    transition : all 0.5s;
}
input[type="submit"]:hover{
    cursor : pointer;
}
input[type="radio"]{
    width : 10%!important;
}
.login>div{
    flex-direction : row;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #222222;
    border-style: solid;
    padding-right : 10%;
}
fieldset{
    justify-content: center;
    border-width: 0;
    color : rgba(0, 0, 0, 0);
}
main{
    justify-content: center;
}
.login{ 
    display : block;
}
fieldset>div{
    color : #222222;
}
fieldset>div>h2{
    align-self : baseline;
    font-size : xx-large;
}
.creationCompte>div{
    flex-direction: row;
    /* width : 100%; */
    align-items: center;
    justify-content: space-between;
    border-width : 0;
    border-bottom-width: 1px;
    border-color: #222222;
    border-style: solid;
    padding-right: 10%;
}
.creationCompte input{
    width: 20vw;
}
.creationCompte >div:last-child{
    flex-direction: row;
    width : 100%;
}
.creationCompte{
    align-items: initial;
    align-self: none;
}