main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    border-radius: 5px;
    margin-top : 50px;
    transition : all 1s;
    width: 90vw;
}
.box:hover{
    transform : scale(1.09);
    transition : all 1s;
    background-color: #c1c1c1;
    overflow-x: hidden;
}
img{
    max-width : 10vw;
    margin-top : 5px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom: 5px;
}
/*manque les media queries en dessous de 400 px, qui font disparaitre l'image*/
h3{
    font-family: "Nunito Medium";
}
h4{
    font-family: "Nunito light";
}
.listeComics{
    transform : translateY(-2%);
}

