@font-face { 	font-family: "Nunito Light"; font-display: swap;    src: url('./font/Nunito/Nunito-Light.ttf'); }
@font-face { 	font-family: "Nunito Medium"; font-display: swap;	src: url('./font/Nunito/Nunito-Regular.ttf'); }
@font-face { 	font-family: "Nunito Bold";   font-display: swap;	src: url('./font/Nunito/Nunito-Bold.ttf'); }
main{
    margin-top : 10em;
}

body{
    margin : 0;
}
div{
    align-self : center;
}
header{
    display : flex;
    position: fixed;
    width : 100%;
    justify-content: space-between;
    background-color : #222222;
    top : 0;
    z-index : 999;
    height : 15%;
}
a{
    margin : 20px;
    background-color : #c2c2c2;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-style: unset;
    text-decoration: none;
    color : #222222;
    border-radius: 10px;
    font-family : "Nunito Bold";
    text-align : center;
    align-self : center;
}
a > img{
    transition : 1s;
}
a:hover > img{
    transition : 1s;
    transform : scale(1.1);
}
.h1{
    background-color: rgba(255,255,255,0);
    font-size: 1.5em;
    transition : all 0.5s;
}
.h1:hover{
    font-size : 1.5em;
}
.char4{
    margin : 5px;
}
.h1:hover span:nth-child(2n){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1:hover span:nth-child(2n+1){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-child(2n){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-child(2n+1){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.h1 span:nth-of-type(4n+1){
    color : rgb(254, 242, 0);
}
.h1 span:nth-of-type(4n+2){
    color : rgb(237, 27, 36);
}
.h1 span:nth-of-type(4n+3){
    color : rgb(48,48,146);
}
.h1 span:nth-of-type(4n+4){
    color : rgb(0, 175, 240);
}

footer{
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    background-color : #222222;
    color : white;
    font-family: "Nunito Light";
    margin-top : 4%;
    height : 15%;

}
footer > div{
    display: flex;
    flex-direction : row;
    align-items: center;
    padding-left : 20px;
    padding-right : 20px;
}
footer div .h1:hover{
    font-size : 1em;
}
footer div .h1 {
    font-size : 1em;
}
footer ul li{
    list-style: none;
}
footer .h1{
    margin : 0!important;
}
