main{
    margin-top : 15%;
}
p{
    text-align : center;
}
fieldset{
    text-align: -webkit-center;
    display : flex;
    font-family: "Nunito Medium";
}
input{
    margin : 20px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-style: unset;
    text-decoration: none;
    color : #222222;
    border-radius: 10px;
    font-family : "Nunito Bold";
    text-align : center;
    align-self : center;
    transition : all 0.5s;
}
input:hover{
    background-color: #afafaf;
    transition : all 0.5s;
}
input[type="submit"]:hover{
    cursor : pointer;
}