
.profile{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    border-radius: 5px;
    margin-top : 50px;
    transition : all 1s;
    width: 90vw;
    font-family: "Nunito Medium";
}
.profile div:first-child{
    justify-content: space-evenly;
    align-items: center;
}
.name{
    font-size : 3em;
    font-family: "Nunito Bold";
}
.name span:first-child{
    text-transform: uppercase;
    font-size : 1.5em;
}
.name:hover span:nth-child(2n){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.name:hover span:nth-child(2n+1){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    transition: all 0.5s;
}
.name span:nth-child(2n){
    transform: rotate(10deg);
    display : inline-block;
    transform-origin: center;
    animation: 1s infinite alternate sensPlus;
}
.name span:nth-child(2n+1){
    transform: rotate(-10deg);
    display : inline-block;
    transform-origin: center;
    animation: 1s infinite alternate sensInv;
}
.name span:nth-of-type(4n+1){
    color : rgb(254, 242, 0);
}
.name span:nth-of-type(4n+2){
    color : rgb(237, 27, 36);
}
.name span:nth-of-type(4n+3){
    color : rgb(48,48,146);
}
.name span:nth-of-type(4n+4){
    color : rgb(0, 175, 240);
}
@keyframes sensPlus{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes sensInv{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
.profile div:nth-child(n+1){
    display : flex;
    flex-direction: row;
    margin : 10px;
    align-items : center;
}
h2{
    margin : 10px;
    text-align : center;
}
.remplissageCollection span{
    height : 10px;
}
.remplissageCollection div{
    border-color : #222222;
    border-width : 1px;
    border-style: solid;
    width : 80vw;

}
.remplissageCollection{
    flex-direction:column!important ;
}
.warning{
    animation: 1s infinite alternate warning;
}
@keyframes warning{
    0%{
        background-color : rgb(237, 27, 36);
    }
    100%{
        background-color : rgb(179, 0, 0);
    }
}
